<p style="color: green"><%= notice %></p>

<div class="container text-center">
  <h1>Clientes</h1>

  <div id="clients">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Película</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="d-grid gap-2 col-4 mx-auto">
  <%= link_to "Nuevo cliente", new_client_path, class: 'btn btn-primary justify-content-center' %>
</div>

